.product-form {
  width: 30rem;
  max-width: 90%;
  margin: auto;
}

.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input {
  display: block;
  width: 100%;
}

.form-control input {
  border: 2px solid rgba(0, 0, 0, 0.689);
  font: inherit;
  border-radius: 2px;
}

button {
  padding: 5px 10px;
  font: inherit;
  color: white;
  border: 1px solid rgb(131, 133, 255);
  background: rgb(131, 133, 255);
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background: blue;
  transform: scale(1.01);
}
